<h1>Welcome To The Registration Page</h1>
<form action="registration/register" method="POST">

  <table>
    <tr>
      <td><label for="FullName_ID">Full Name:</label></td>
      <td><input size="40" type="text" name="FullName" placeholder="Wiz Khalifa" id="FullName_ID"/></td>
    </tr>

    <tr>
      <td><label for="address_ID">Street Address:</label></td>
      <td><input size="40" type="text" name="address" placeholder="1290 Avenue of the Americas" id="address_ID"/></td>
    </tr>

    <tr>
      <td><label for="City_ID">City:</label></td>
      <td><input size="40" type="text" name="city" placeholder="New York" id="City_ID"/></td>
    </tr>

    <tr>
      <td><label for="state_ID">State:</label></td>
      <td><input size="40" type="text" name="state" placeholder="New York" id="state_ID"/></td>
    </tr>

    <tr>
      <td><label for="Postal_ID">Postal Code:</label></td>
      <td><input size="40" type="text" name="postal" placeholder="10104" id="Postal_ID"/></td>
    </tr>

    <tr>
      <td><label for="Country_ID">Country:</label></td>
      <td><input size="40" type="text" name="country" placeholder="United States" id="Country_ID"/></td>
    </tr>

    <tr>
      <td><label for="email_ID">Email Address:</label></td>
      <td><input size="40" type="text" name="email" placeholder="WizKhalifa@TaylorGang.net" id="email_ID"/></td>
    </tr>

    <tr>
      <td><label for="User_ID">User ID:</label></td>
      <td><input size="40" type="text" name="user" placeholder="Wiz" id="User_ID"/></td>
    </tr>

    <tr>
      <td><label for="password_ID">Password:</label></td>
      <td><input size="40" type="text" name="password" placeholder="blackandyellow" id="password_ID"/></td>
    </tr>
</table>


  <input type="submit" value="Register">

</form>
